/*-- scss:defaults --*/

$font-family-sans-serif: "Outfit", "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif !default;
$headings-font-family: "Outfit", "Rubik", sans-serif !default;
$headings-font-weight: 600 !default;
